#Botaoligar {
  /* margin-left: 22em; */
  padding: 0.1em;
  width: 15em;

  border-radius: 2em;

  background-color: hsl(217, 50%, 41%, 1);
  margin-top: 1.5em;
  margin-bottom: 3em;
  font: normal normal bold 16px/20px Signika Negative;
}

#Botaowhatsapp {
  /* margin-left: 19.5em; */
  padding: 0.1em;
  width: 15em;

  border-radius: 2em;

  background-color: hsl(217, 50%, 41%, 1);
  margin-top: 1.5em;
  margin-bottom: 3em;
  font: normal normal bold 16px/20px Signika Negative;
 
}

#botao {
  padding: 10px;
  border-radius: 10em;
  font-weight: bold;
  color: black;
  font: normal normal bold 20px Signika Negative;
}

#botaoverificao {
  padding: 10px;
  width: 100%;
  border-radius: 4em;
  font-weight: bold;
  font: normal normal bold 24px Signika Negative;
letter-spacing: 0px;
color: #3C3C3B;
}

#principal {
  font-weight: bold;
  background-color: #FFFFFF;
  font: normal normal bold 20px Signika Negative;
}

input, textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid silver;
}

input[type=checkbox] {
  width: unset;
}


#contato {
  width: 25em;
}

#ColunaContatos {
  font: normal bold 39px Signika Negative;
  color: #3C3C3B;

} 

.informacoes-contato{
  font: normal normal normal 16px/24px Open Sans;
}


.box {
  display: flex;
  margin-top: 1em;
}

form {
  width: 23em;
  border-radius: 2em;
  -webkit-box-shadow: 13px 10px 36px 4px rgba(102,102,102,0.4); 
  box-shadow: 13px 10px 36px 4px rgba(102,102,102,0.4);
}

.texto-formulario{
  font: normal normal bold 39px Signika Negative;
}

.cards{
  font: normal normal bold 30px Signika Negative;
letter-spacing: 0px;
color: #3C3C3B;
opacity: 1;
}

.h5{
  font: normal normal bold 16px/24px Open Sans;
letter-spacing: 0px;
color: #3C3C3B;
}

#Botaocurriculo {
  background-color: hsl(217, 50%, 41%, 1);
  padding: 10px;
  width: 15em;
  border-radius: 4em;
  font-weight: bold;
  background: #345D9D 0% 0% no-repeat padding-box;
  color: #FFFFFF;

}

.page-footer {
  margin-top: 2em;
  background-color: hsla(217, 50%, 41%, 1);
}
.footer-copyright {
  background-color: hsla(217, 65%, 29%, 1);
}

.texto-rodape {
  margin-left: 5em;
  margin-top: 1em;
}

.row {
  padding-top: 2em;
}

.dev {
  margin-left: 3.3em;
}

.conta {
  margin-left: 1em;
}

.termos {
  margin-right: 2em;
}

.politica {
  margin-left: 1.4em;
}
.email {
  margin-left: 2em;
}

.icons {
  margin-bottom: 2em;
}

.rodapetkeke{
  margin-bottom: 0.5em;
}
.rodapesuporte{
  margin-bottom: 0.5em;

}

.radapecontato{
  margin-bottom: 0.5em;

}
#imgrodape{
  margin-right: 30em;
}

.topo{
  background-color: #F8F8F8;
}

.menutopo{
 font: normal normal bold 1em Signika Negative;
 color: #345D9D;
}
li {
  list-style-type: none;
}